{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow">
                <div class="card-body p-4">
                    <h2 class="card-title text-center mb-4">Iniciar Sesión</h2>
                    {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endif %}
                    <form method="post" action="{% url 'stocks:login' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username_or_email" class="form-label">Nombre de usuario o correo
                                electrónico</label>
                            <input type="text" class="form-control" id="username_or_email" name="username_or_email"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Ingresar</button>
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <p class="mb-0">¿No tienes una cuenta? <a href="{% url 'stocks:register' %}">Regístrate</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
